<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="180c05b5-8277-4752-94b7-b7f82faaeff5" name="v1 TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:description>The test suite generated for the REST service [Smartbear Calculator]</con:description>
  <con:settings>
    <con:setting id="180c05b5-8277-4752-94b7-b7f82faaeff5fileName">v1-TestSuite</con:setting>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="GeneratableAllureReport@Folder">C:\Users\nathan.wright\Code\integration-tests\allure_reports</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
  <con:environmentSpec>
    <con:entry environmentId="0347021d-92b7-47e4-9379-4797d4a703c9">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
    <con:entry environmentId="19ef152b-6806-465d-be73-869bfad44f62">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:testSuite>
